/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
	.dropdown i{
		display: none;
	}
}


/* Medium Devices, Desktops */
@media (min-width : 992px) {
	.navbar-brand i{
		margin-right: 0px;
		font-size: 16px;
		line-height: 16px;
	}


}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {


.navbar-default .navbar-nav > li > a {
	padding: 23px 10px;
	letter-spacing: 0px;
}
.navbar-brand i{
	margin-right: 0px;
	font-size: 16px;
	line-height: 16px;
}

.btn {
    font-size:14px;
    padding: 10px 14px;
	}
	


}

/* Small Devices Potrait */
@media (max-width : 320px){
	.section-heading{
		width: 100%;
	}
	.pricing-box{
		margin-bottom: 20px;
	}
	
	.review-text,.footer-content h4{
		margin-top: 20px;
	}
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) and (max-width:767px){
.btn {
    font-size:14px;
    padding: 10px 11px;
	}
	

}

/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width: 478px)  {


.navbar-default .navbar-nav > li > a {
	padding: 23px 10px;
	letter-spacing: 0px;
}
.navbar-brand i{
	margin-right: 0px;
	font-size: 16px;
	line-height: 16px;
}

	.section-heading{
		width: 100%;
	}
	.pricing-box{
		margin-bottom: 20px;
	}
	
	.review-text,.footer-content h4{
		margin-top: 20px;
	}

}